/*
=============== 
Navbar
===============
*/
nav {
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
}
.logo {
  height: 40px;
  margin: auto;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: auto;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 1200px) {
  .nav-center {
    height: 10vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
/*
=============== 
Main
===============
*/
.banner {
  width: 100%;
  height: 90vh;
  background-image: url("./images/banner.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.wrapper {
  margin: 0 auto;
  padding: 2rem 0 0 0;
  max-width: 1400px;
}

.wrapper h2 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: ".article .article .article .article-slider";
}

.article {
  grid-column: 1/2;
  height: 550px;
  margin: 2rem 1rem;
}

.article-header {
  width: inherit;
}

.article-header img {
  width: 100%;
  margin: 0.5rem 0;
  max-width: inherit;
  border-radius: 5px;
}

.article-body {
  padding: 0 0.5rem;
  text-align: justify;
}

.article-slider {
  margin: 2rem 1rem;
  padding: 1.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  height: 550px;
  overflow: auto;
}

.article-slider article {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-grey-5);
  border-radius: 5px;
}

.article-slider article img {
  width: 100%;
  max-width: 450px;
}

.article-slider article .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-slider article .details > * {
  margin: 0.25rem;
}

@media screen and (max-width: 850px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      ".article"
      "article-slider";
  }
  .article {
    height: auto;
  }
  .article-slider {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .article-slider article img {
    min-width: 350px;
  }
}
